@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fullSide {
  @apply w-64 h-screen flex-col
}

.fullSideHolder {
  @apply h-12 flex items-center pl-4 pr-4 hover:bg-gray-200 justify-start
}

.fullSideSVG {
  @apply h-8 w-12 flex items-center
}

.collSide {
  @apply w-16 h-screen flex flex-col 
}

.collSideHolder {
  @apply h-16 w-16 flex flex-col items-center justify-center text-mini hover:bg-gray-200 
}

.collSideSVG {
  @apply flex items-center
}